<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Minecraft Item Crafter</title>

	<script src="https://kit.fontawesome.com/6c9e3ff299.js" crossorigin="anonymous"></script>
</head>
<body style="background-image: url('../images/background.jpg')">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../styles/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="../js/Item.js"></script>
  <script src="../js/ItemList.js"></script>
  <script src="../js/CraftingTable.js"></script>
  <script src="../js/events.js"></script>
  <script>
    const craftingTable = new CraftingTable();
    const list = new ItemList();

    window.onload = () => {
      const itemTable = $('#itemTableBody');

      craftingTable.display();
      list.processItems('../mc_r2.json');
      list.generateTable(itemTable);
    };
  </script>


	<div class="container">
		<div class="clearfix">
				<nav class="header">
					<ul class="nav nav-pills pull-right minecraft">
						<li role="presentation" class="nav-item"><a class="nav-link" href="index.html" ><i class="fas fa-home icon"></i>Home</a></li>
						<li role="presentation" class="nav-item"><a class="nav-link active" href="crafting_table.html"><i class="fas fa-tools icon"></i>Crafting Table</a></li>
						<li role="presentation" class="nav-item"><a class="nav-link" href="https://minecraft.gamepedia.com"><i class="fas fa-book icon"></i> Minecraft Gamepedia</a></li>
					</ul>
				</nav>
				<h3 class="minecraft">Minecraft Item Crafter</h3>
			</div>

		<div class="row">
			<div class="col">
				<div id="crafting_table" class="card">
        </div>
      </div>
    </div>
  </div>

		<div class="row">
			<div class="col">
				<div class="card item-list-container">
					<div class="card-header minecraft h2 text-nowrap">
						<span> Item List </span>
						<input type="text" class="form-control" id="search" placeholder="Search for an item..." style="width: 50%">
					</div>
					<div class="card-body">
							<table class="table" id="itemTable">
									<thead>
									<tr>
										<th scope="col" width="7%">Item</th>
										<th scope="col">Name</th>
										<th scope="col">MC ID</th>
									</tr>
									</thead>

                <tbody id="itemTableBody" class="item-list"></tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
	</div>
</body>
