<html>
<head>
  <meta charset="utf-8">
  <title>Minecraft Item Crafter Tests</title>
  <link href="https://unpkg.com/mocha@5.2.0/mocha.css" rel="stylesheet"/>
</head>
<body>
<div id="mocha"></div>

<script src="https://unpkg.com/chai/chai.js"></script>
<script src="https://unpkg.com/mocha@5.2.0/mocha.js"></script>

<script>mocha.setup('bdd')</script>
<script src="../js/Item.js"></script>
<script src="../js/ItemList.js"></script>
<script src="../js/Recipe.js"></script>
<script src="../js/RecipeList.js"></script>
<script src="../js/CraftingTable.js"></script>
<script src="../tests/ItemList.test.js"></script>
<script src="../tests/RecipeList.test.js"></script>
<script src="../tests/CraftingTable.test.js"></script>
<script>
  mocha.checkLeaks();
  mocha.run();
</script>
</body>
</html>
