@font-face {
	font-family: "Minecraft";
	src: url("fonts/1_Minecraft-Regular.otf") format("opentype");
}

body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.header {
	margin-bottom: 16px;
}

.minecraft {
	font-family: "Minecraft";
	color: white;
}

.btn-lightgreen {
  background-color: #16ff28;
  color: white;
}

.icon {
	padding-right: 6px;
}

.card-img-overlay {
	padding: 0.5rem
}


.item-list {
  display: block;
  height: 30vh;
  overflow: auto;
}

#crafting_table {
	border: 4px solid rgb(104, 104, 104);
	border-radius: 16px;
	padding: 4px;
	background-color: #c6c6c6;
	margin-bottom: 16px;
	/* width: 60%;
	height: 60%; */
}

.tile {
	padding: 8px;
}

.hover {
	border: 4px solid lightgreen;
	padding: 4px;
}

#result {
	width: 50%;
	height: 100%;
	margin-left: 70%;
}

.item-list-container {
	background-color: #c6c6c6;
  width: 640px;
}

.card-body {
	padding-left: 16px;
	padding-right: 16px;
}

.card-header {
	background-color: rgb(104, 104, 104);
	padding: 16px;
}

a {
	color: white;
}

a:hover, a:focus {
	color: white;
	background-color: rgb(104, 104, 104);
}

.nav-item {
	margin: 2px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color:rgb(143, 96, 51)
}

thead, tbody, tr {
  display: table;
  width: 100%
}

tr, td {
  padding-top: 0;
  padding-bottom: 0;
}

thead {
  width: calc( 100% - 1em )
}
